flask
flask-cors
requests
python-dotenv
PyPDF2
pydub
textblob
opencv-python-headless
flask_sqlalchemy
sqlalchemy
gunicorn==23.0.0
google-generativeai
psycopg2-binary
flask-socketio
eventlet
bcrypt
PyJWT
groq
